@import "tailwindcss";
@import "tw-animate-css";

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0c1617;
  --foreground: #f2d39ad2;
  --card: #080c11db;
  --card-foreground: rgb(224, 181, 112);
  --popover:rgba(51, 37, 21, 0.39);
  --popover-foreground: rgb(150, 135, 118);
  --primary: hsla(219, 20%, 31%, 0.8);
  --primary-foreground:#d6ba9b;
  --secondary: rgb(150, 177, 181);
  --secondary-foreground:rgb(150, 135, 118);
  --action:rgb(183, 138, 48);
  --action-foreground: oklch(87.842% 0.04267 110.224);
  --muted: rgba(148, 114, 47, 0.897);
  --muted-foreground: #a7a297cc;
  --destructive:  rgba(198, 59, 94, 0.977);
  --destructive-foreground: rgb(237, 179, 195);
  --accent: oklch(12.856% 0.00001 271.152 / 0.252);
  --accent-foreground:rgba(148, 114, 47, 0.897);
  --success: rgb(60, 125, 103);
  --success-foreground: rgba(32, 38, 33, 0.271);
  --warning: rgba(204, 156, 13, 0.469);
  --warning-foreground: rgb(223, 172, 62);
  --border: oklch(22.585% 0.01364 72.084 / 0.015);
  --input: rgba(69, 62, 85, 0.123);
  --input-border: rgba(150, 110, 92, 0.295);
  --ring: oklch(67.119% 0.13558 80.745);
  --chart-1: oklch(80.31% 0.19843 148.132);
  --chart-2: oklch(45.856% 0.11989 305.588);
  --chart-3: oklch(0.67 0.16 58);
  --chart-4: oklch(0.56 0.15 49);
  --chart-5: oklch(0.47 0.12 46);
  --chart-6: oklch(66.924% 0.08162 95.767);
  --chart-7: oklch(77.187% 0.15106 83.929 / 0.902);
  --chart-8: oklch(66.137% 0.08431 102.882 / 0.66);
  --radius: 0.5rem;
  --sidebar: #121416ef;
  --sidebar-foreground: rgba(135, 103, 29, 0.897);
  --sidebar-primary: rgba(210, 146, 67, 0.897);
  --sidebar-primary-foreground: rgba(242, 213, 127, 0.897);
  --sidebar-accent: rgba(220, 194, 139, 0.679);
  --sidebar-accent-foreground: rgba(215, 171, 24, 0.897);
  --sidebar-border: oklch(88.789% 0.02953 100.659 / 0.062);
  --sidebar-ring: oklch(73.191% 0.01405 106.84);
}

.dark {
  --background: rgb(225, 222, 229);
  --foreground: oklch(58.164% 0.03839 88.808 / 0.995);
  --card: oklch(100% 0.00011 271.152 / 0.805);
  --card-foreground: oklch(53.878% 0.01594 88.751);
  --popover: rgba(208, 216, 221, 0.659);
  --popover-foreground: oklch(43.952% 0.03098 82.155);
  --primary: oklch(57.1% 0.07339 93.774);
  --primary-foreground: oklch(92.615% 0.031 219.968);
  --secondary: oklch(89.243% 0.02202 294.456);
  --secondary-foreground: oklch(82.318% 0.03616 72.78);
  --action: oklch(23.272% 0.00596 236.961);
  --action-foreground: oklch(92.237% 0.04197 205.876);
  --muted: oklch(84.387% 0.01637 82.749 / 0.652);
  --muted-foreground: oklch(59.403% 0.02325 88.784 / 0.691);
  --accent: oklch(82.967% 0.04016 261.532 / 0.268);
  --accent-foreground: oklch(28.094% 0.03926 226.534);
  --destructive: oklch(60.836% 0.14061 21.047 / 0.56);
  --destructive-foreground: rgb(238, 88, 96);
  --success: oklch(70.765% 0.09415 172.04);
  --success-foreground: lab(73 -52.33 15.61);
  --warning: oklch(85.944% 0.17509 88.905 / 0.937);
  --warning-foreground: rgb(175, 132, 4);
  --border: oklch(46.495% 0.01884 73.415 / 0.363);
  --input: oklch(75.928% 0.02669 255.646 / 0.956);
  --input-border: rgba(221, 213, 228, 0.964);
  --ring: oklch(60.356% 0.10994 86.502 / 0.917);
  --chart-1: oklch(63.453% 0.09891 90.906 / 0.655);
  --chart-2: oklch(56.087% 0.09421 280.031);
  --chart-3: oklch(24.202% 0.01107 73.363 / 0.606);
  --chart-4: oklch(62.843% 0.03886 109.255 / 0.268);
  --chart-5: oklch(50.187% 0.17072 282.755 / 0.568);
  --chart-6: oklch(66.918% 0.12506 94.284);
  --chart-7: oklch(59.356% 0.07714 88.759 / 0.902);
  --chart-8: oklch(66.137% 0.08431 102.882 / 0.66);
  --radius: 1.2rem;
  --sidebar: oklch(16.467% 0.00417 285.875 / 0.969);
  --sidebar-foreground: oklch(87.811% 0.01666 278.44 / 0.499);
  --sidebar-primary: oklch(53.262% 0.03417 236.27);
  --sidebar-primary-foreground: oklch(41.654% 0.0516 90.094 / 0.81);
  --sidebar-accent: oklch(58.709% 0.03032 269.442);
  --sidebar-accent-foreground: oklch(53.403% 0.06185 258.638);
  --sidebar-border: oklch(43.278% 0.01231 57.846 / 0.127);
  --sidebar-ring: oklch(73.703% 0.05068 54.608);
}


@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-action-foreground: var(--action-foreground);
  --color-action: var(--action);
  --color-chart-8: var(--chart-8);
  --color-chart-7: var(--chart-7);
  --color-chart-6: var(--chart-6);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer components {
  .border-border {
    @apply border-border;
  }

  
.glass-card {
  position: relative;
  border-radius: 25px !important;
  background: transparent;
  /* box-shadow:  10px 3px 0px -2px rgba(163, 222, 213, 0.058),  0 10px 30px 1px rgba(4, 3, 3, 0.394); */
  box-shadow:  2px 10px 10px -2px rgba(9, 9, 12, 0.36),  0 0 7px 2px rgba(4, 3, 3, 0.334)  !important;
 
  /* width: 100%; */
  /* height: 100%; */
}

.bg-card {
  box-shadow:  2px 10px 10px -2px rgba(9, 9, 12, 0.827),  0 0 7px 2px rgba(4, 3, 3, 0.934)  !important;
}

/*  */

.dotted-grid-container-main {
  height: 100% !important;
  width: 100%;
  /* height: 100% ; */
  padding: 20px !important;
  position: absolute !important;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.923) !important;
  mix-blend-mode: screen !important;

}

.dotted-grid-container {
  min-height: 50vh;
  width: 100%;
  max-height: auto !important;
  padding: 20px;
  position: relative;
  z-index: 0;
  background: rgba(10, 10, 12, 0.923) !important;
}

 .dotted-grid {
      position: absolute;
      inset: 0;
      z-index: 0;
      height: 100% !important;
      min-height: 100vh;
      background-image: 
        linear-gradient(to right, rgba(7, 39, 46, 0.539) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(202, 158, 45, 0.091) 1px, transparent 1px),
        radial-gradient(circle, rgba(173, 146, 65, 0.247) 1px, transparent 1px)  !important;
      background-size: 20px 20px, 20px 20px, 20px 20px;
      background-position: 0 0, 0 0, 0 0;
    } 
   
    .dotted-grid-main {
      position: absolute;
      mix-blend-mode: multiply !important;
      inset: 2;
      z-index: 0;
      background-color: #131e25 !important;
      background:  repeating-linear-gradient(45deg, rgba(9, 8, 5, 0.977), rgba(123, 108, 10, 0.232) 1px, transparent 1px, transparent 5px),
      repeating-linear-gradient(-45deg, rgba(138, 98, 24, 0.48), rgba(0, 0, 0, 0.913) 1px, transparent 1px, transparent 12px),
      repeating-linear-gradient(90deg, rgba(11, 16, 18, 0.399) 0, rgba(2, 6, 10, 0.998) 1px, transparent 1px, transparent 4px);
     box-shadow: inset 12.5px 32px 21px -2px rgba(17, 15, 10, 0.934),inset 0.5px 2px 10px -2px rgba(241, 202, 72, 0.162), inset 0 -2px 5px 0px hwb(190 3% 95%) !important;
    }



.glass-card::before {
  content: '';
  position: absolute;
  inset: -1;
  z-index: 0;
  overflow: hidden;
  border-radius: 25px !important;
          box-shadow: inset 2.5px 1px 1px -2px rgba(241, 202, 72, 0.262),inset 0.5px 2px 10px -2px rgba(241, 202, 72, 0.162), inset 0 -2px 30px 0px lab(84.95% -52.93 -0.28 / 0.063)!important;
}



.glass-card::after {
  content: '';
  position: absolute;
    z-index: -1;
    inset: 1;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    -webkit-filter: url(#container-glass);
            filter: url(#container-glass);
       
    overflow: hidden;
    isolation: isolate;
}




.glassBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 15px;
  background: transparent;
  border-radius: 9999px !important;
  outline: none;
  border: none;
  z-index: 0;
}

.glassBtn::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 9999px;
    -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
            box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    background-color: rgb(255 255 255 / 10%);
}

.glassBtn::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(0px);
    -webkit-filter: url(#btn-glass);
            filter: url(#btn-glass);
    overflow: hidden;
    isolation: isolate;
}

.glassBtn svg {
  width: 100%;
  height: 100%;
  stroke: #fff;
}
  
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: 3px !important;
    scrollbar-color: #1515143f transparent !important;
  }



  body {
    @apply bg-background text-foreground;
  }
}